<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Mushup!</display-name>
  <description>
    Mushup! is a mashup of MusicBrainz and other sources.
  </description>

  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>org.foolip.mushup.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Info</servlet-name>
    <servlet-class>org.foolip.mushup.Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowArtist</servlet-name>
    <servlet-class>org.foolip.mushup.ShowArtist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowArtist</servlet-name>
    <url-pattern>/artist/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OpenID Login</servlet-name>
    <servlet-class>org.foolip.mushup.ConsumerServlet</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>OpenID Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <!-- don't XML escape JSON output -->
  <context-param>
    <param-name>atg.taglib.json.escapeXml</param-name>
    <param-value>false</param-value>
  </context-param>

  <!-- start and shutdown hooks -->
  <listener>
    <listener-class>org.foolip.mushup.ContextListener</listener-class>
  </listener>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
